{% extends 'AcmeAddressBookBundle:Default:layout.html.twig' %}


 {% block main_container%}
{% for flashmessage in app.session.flashbag.get('notice')%}
    <div>
        {{flashmessage}}
    </div>
{% endfor %}
<div>
    <span> Address Book Entries:</span>
</div>
 {% endblock %}  